<div class="container-fluid">
  <div class="col-md-12">
    <div class="row">
      <div class="footerBottom">
        <div class="tataaia-content">
          <p>
            <strong>Tata AIA Life Insurance Company Limited</strong> (IRDAI
            Regn. No.110) CIN: U66010MH2000PLC128403.
            <strong>Registered &amp; Corporate Office:</strong> 14th Floor,
            Tower A, Peninsula Business Park, Senapati Bapat Marg, Lower Parel,
            Mumbai - 400013. Trade logo displayed above belongs to Tata Sons Ltd
            and AIA Group Ltd. and is used by Tata AIA Life Insurance Company
            Ltd under a license. For any information including cancellation,
            claims and complaints, please contact our Insurance Advisor /
            Intermediary or visit Tata AIA Life’s nearest branch office or call
            <strong>1-860-266-9966</strong> (local charges apply) or write to us
            at
            <a href="mailto:customercare@tataaia.com" target="_blank">
              <strong>customercare@tataaia.com.</strong>
            </a>
            Visit us at:
            <a href="https://www.tataaia.com/" target="_blank">
              <strong>www.tataaia.com</strong>
            </a>
            or SMS <strong>'LIFE'</strong> to <strong>58888</strong>.
            L&amp;C/Misc/2020/May/176
          </p>
        </div>
        <div class="footer-last">
          <div class="leftCorner">
            BEWARE OF SPURIOUS/<br />FRAUD PHONE CALLS!
          </div>
          <div class="rightTxt">
            <p>
              IRDAI is not involved in activities like selling insurance
              policies, announcing bonus or investment of premiums. Public
              receiving such phone calls are requested to lodge a police
              complaint.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
